#root {
  width: 535px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  display: block;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  margin-top: 20px;
  color: var(--text-color);
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  text-align: start;
}

.centered-message {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.read-the-docs {
  color: #888;
}

.jetton-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.jetton-image {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.jetton-details {
  flex-grow: 1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 8px;
  width: 400px;
}

.modal-content input {
  width: calc(100% - 20px);
  padding: 10px;
}

.modal-content button {
  margin-right: 10px;
  margin-top: 10px;
}

.error {
  color: red;
}